#calendar{
    width: calc(0.6555232558 * 100%);
    height: calc(0.5105263158 * 100%) !important;
    background-color: #FFFFFF;
    top: calc(0.0263157895 * 100%) !important;
    position: relative;
    left: calc(0.2965116279 * 100%);
    border-radius: 28px;
    
}